/* 디폴트 정의 */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

/* 기본 태그 정의 */
a {
  text-decoration: none;
  color: var(--color-blue);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

ul {
  /* ul 앞에 토글을 없애기 위해서 지정 */
  /* circle , square 등 옵션 존재*/
  list-style-type: none;
}

/* 특정 클래스 지정시 . 을 사용 */
.navbar {
  background-color: #3164d3;

  /* 내부 글씨 색상 변경 */
  color: #fff;
  height: 60px;
}

.container {
  max-width: 1100px;
  /* 위아래 0 좌우 auto 로 외부의 간격을 이격 시킴 */
  margin: 0 auto;

  padding: 10px 30px;
}

.navbar .container {
  /* 일열로 조정 */
  display: flex;

  flex-direction: row;

  /* 사이에 이격 */
  justify-content: space-between;

  /* 태그의 세로 가운데 정렬 */
  align-items: center;
  /* 삐뚤지 않게 정확하게 가운데로 */
  height: 100%;
}

.navbar .nav {
  display: flex;
  /* flex-direction: column; 위아래로 정렬 */
  flex-direction: row;
}

.navbar .nav li {
  /* 각 요소를 20px 간격으로 이격 */
  margin-left: 20px;
}

.navbar a {
  color: #fff;
  /* 링크 밑줄 삭제 */
  text-decoration: none;

  /* default 는 16px */
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  /* 마우스 올라갔을 때 효과 */
  /* border-bottom: 1px #fff solid; */
  color: #ddd;
}

.navbar .logo {
  /* 로고 폰트 변경 */
  font-size: x-large;
  font-weight: bold;
}

button {
  padding: 2px 4px;
  margin: 2px 4px;
  font-weight: bold;
  background-color: #ddd;
}

button:hover {
  color: red;
  background-color: yellow;
}

.main {
  color: #333;
  line-height: 2;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid var(--color-blue);
  background-color: var(--color-light-white);
  float: left;
}

@media screen and (max-width: 780px) {
  .home__avatar {
    float: none; /* 화면 너비가 780px 이하일 때 float 속성 제거 */
  }
}

.home__avatar:hover {
  transform: rotate(-360deg) scale(1.1);
  transition: all var(--animation-duration) ease-in;
}

.contact {
  width: 300px;
  height: 80px;
  /* font-size: 20px; */
  line-height: 70px;
  margin: auto;
  /* color: var(--color-blue); */
  border: 3px solid var(--color-black);
  border-radius: 50%;
  margin-bottom: 20px;
}

.contact:hover {
  background-color: var(--color-orange);
  transform: scale(1.1);
  transition: all var(--animation-duration) ease-in;
}
